<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410588161611-00usio8qo650mj2oid1bndf6rbmus5sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410588161611-00usio8qo650mj2oid1bndf6rbmus5sd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>410588161611-bb82557ah31iv4jj1f3ljc68sjd8m49i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkfdybtqHmiVWPK2T2nMyha2GC-CeETPg</string>
	<key>GCM_SENDER_ID</key>
	<string>410588161611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delivero</string>
	<key>PROJECT_ID</key>
	<string>ghardailosamma1</string>
	<key>STORAGE_BUCKET</key>
	<string>ghardailosamma1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410588161611:ios:b0c788684a7c56f4084fce</string>
</dict>
</plist>